.chat_group_form__main
  = form_for group do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "エラーが発生しました。"

    .group_field
      .group_field__label
        = f.label :name
      .group_field__input
        = f.text_field :name, autofocus: true, class: "group_field__input-box", placeholder: "class name"
  
    .group_image_field
      %h2 Image
      .group_image_field__label
        = f.label :image do
          = fa_icon 'picture-o', class: 'group_icon'
          = f.file_field :image, class: 'hidden'

    .group_field
      .group_field__label
        = f.label :tag
      .group_field__select_box
        = f.select :tag, ['animal', 'sea', 'camp', 'forest', 'food']

    %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
    = f.hidden_field :owner_id, value: current_user.id

    .group_field_btn
      = f.submit "Create", class: 'create_btn'
      = link_to "戻る", :back, class: 'btn'