.show
  .show_group
    .show_group__header
      .show_group__header__left
        .show_group__header__left__title
          = @group.name
      %ul.show_group__header__right
        -if @group.users.include?(current_user)
          %li.header__list
            = form_for(@group.group_users.find_by(user_id: current_user.id), html: { method: :delete }) do |f|
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :group_id, value: @group.id
              = f.submit '退会'
        -elsif @group.followers.include?(current_user)
          %li.header__list
            = form_for(@group.group_users.build) do |f|
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :group_id, value: @group.id
              = f.submit 'メンバーになる'
        %li.header__list
          = link_to "Talkへ", group_messages_path(@group)
        %li.header__list
          =link_to "Topへ", root_path
  
  
  .member_list
    -index = 0
    -@group_users.each do |group_user|
      -user = group_user.user
      -if index == 0
        %h1.owner owner
        .owner_box
          = image_tag user.image, size: "75x75", alt: "no data", class: 'owner_box__image'
          .owner_box__user
            = link_to user.name, user_path(user.id), class: 'owner_box__user__name'
        - index += 1
      - elsif index == 1
        %h1.member Member
        = render 'member', { user: user }
        -index += 1
      - else
        = render 'member', { user: user }

    -if current_user.id == @group.owner_id
      %h1.invite-font Invite Friend
      -current_user.friend.each do |user|
        -unless @group.group_users.include?(user) || @group.followers.include?(user)
          = render "user_box", {user: user}
  