.show
  .show_group
    .show_group__header
      .show_group__header__left
        .show_group__header__left__title
          = @group.name
      %ul.show_group__header__right
        -if @group.owner?(current_user.id)
          %li
            = form_for( @group, method: :delete ) do |f|
              = f.hidden_field :id, value: @group.id
              = f.submit '解散する', class: 'dissolve', data: { confirm: "解散してもよろしいですか(一度解散すると元に戻せません)"}
        -elsif @group.member?(current_user)
          %li
            = form_for(@group.group_users.find_by(user_id: current_user.id), html: { method: :delete }) do |f|
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :group_id, value: @group.id
              = f.submit '退会する', class: 'unsubscribe_btn', data: { confirm: "退会してもよろしいですか"}
        -elsif @group.following?(current_user) 
          %li 
            = form_for(@group.group_followers.find_by(follower_id: current_user.id), html: { method: :delete }) do |f|
              = f.hidden_field :follower_id, value: current_user.id
              = f.hidden_field :group_id, value: @group.id
              = f.submit 'フォロー中', class: 'follow-now'
        -else
          %li
            = form_for(@group.group_followers.build) do |f|
              = f.hidden_field :follower_id, value: current_user.id
              = f.hidden_field :group_id, value: @group.id
              = f.submit 'フォロー', class: 'follow'
        %li 
          = link_to "Talkへ", group_messages_path(@group)
        %li 
          =link_to "Topへ", root_path
  
  
  .member_list
    -index = 0
    -@group_users.each do |group_user|
      -user = group_user.user
      -if index == 0
        %h1.owner owner
        .owner_box
          = image_tag user.image, size: "75x75", alt: "no data", class: 'owner_box__image'
          .owner_box__user
            = link_to user.name, user_path(user.id), class: 'owner_box__user__name'
        - index += 1
      - elsif index == 1
        %h1.member Member
        = render 'member', { user: user }
        -index += 1
      - else
        = render 'member', { user: user }
  
    -if @group.followers.length != 0
      %h1.follower Follower
      -@group.followers.each do |follower|
        -unless @group.member?(follower)
          = render 'follower', { user: follower }
      
    