.my_page
  .my_page_header
    =link_to "Petear", root_path, class: "my_page_header__title"
    %ul.my_page_header__right
      -if current_user.id == @user.id
        %li.header__list
          = link_to "クラス作成",  new_group_path, class: 'my_page_header__right__list'
        %li.header__list
          = link_to "#{@user.name}の編集", edit_user_path(current_user), class: 'my_page_header__right__list'
        %li.header__list
        = link_to "ログアウト", destroy_user_session_path, class: 'my_page_header__right__list', method: :delete, data: { confirm: "ログアウトしてもよろしいですか?"}
      -elsif current_user.friend.include?(@user) || current_user.inverse_friend.include?(@user)
        %li.header__list ~ My Friend ~
      -elsif current_user.invite.include?(@user)
        %li.header__list ~ 申請中 ~
      -elsif current_user.invited.include?(@user)
        %li.header__list 
          = link_to "~ フレンドになる ~", friends_path(user_id: current_user.id, friend_id: @user.id), method: :post, data: { confirm: "このユーザーをフレンド登録してもよろしいですか?"}
      -else
        %li.header__list 
          = form_for(@user.freriqus.build) do |f|
            = f.hidden_field :invite_id, value: current_user.id
            = f.hidden_field :invited_id, value: @user.id
            = f.submit '招待する', data: { confirm: "このユーザーを招待してもよろしいですか?"}


    
  .my_page_contents
    .user_introduce
      = image_tag @user.image, size: "230x230", alt: "no data", class: 'user_introduce__image'
      .user_introduce__box
        .user_introduce__box__name_box
          = @user.name
        .user_introduce__box__comment_box
          = @user.comment
    -if current_user == @user
      = @user.account_id
      %h1.group.friend Friends
      .has_many_user
        -@friends.each do |user|
          = render 'user_box', { user: user }
      %h1.group.acquaintance Acquaintance?
      .has_many_user
        -@user_acquaintance.each do |user|
          = render 'user_box', { user: user }
      %h1.group Groups
      .belongs_to_group
        -@user.groups.each do |group|
          = render 'group_box', { group: group }
      
    -else
      %h1.group Friends
      .has_many_user
        -@friends.each do |user|
          = render 'user_box', { user: user }
      




