.my_page
  .my_page_header
    =link_to "Petear", root_path, class: "my_page_header__title"
    %ul.my_page_header__right
      -if current_user.id == @user.id
        %li.header__list
          = link_to "クラス作成",  new_group_path, class: 'my_page_header__right__list'
        %li.header__list
          = link_to "#{@user.name}の編集", edit_user_path(current_user), class: 'my_page_header__right__list'
        %li.header__list
        = link_to "ログアウト", destroy_user_session_path, class: 'my_page_header__right__list', method: :delete, data: { confirm: "ログアウトしてもよろしいですか?"}
      -elsif @following
        %li.header__list ~ 申請中 ~
      -elsif @followed
        %li.header__list ~ 招待されています ~
      -else
        %li.header__list 
          = form_for(@user.freriqus.build) do |f|
            = f.hidden_field :invite_id, value: current_user.id
            = f.hidden_field :invited_id, value: @user.id
            = f.submit '招待する'


    
  .my_page_contents
    .user_introduce
      = image_tag @user.image, size: "230x230", alt: "no data", class: 'user_introduce__image'
      .user_introduce__box
        .user_introduce__box__name_box
          = @user.name
        .user_introduce__box__comment_box
          = @user.comment
    //= @user.account_id
    -if current_user == @user
      %h1.group.friend Friends
      .has_many_user
      %h1.group.acquaintance Acquaintance
      .has_many_user
        -@user_acquaintance.each do |user|
          = render 'user_box', { user: user }
      %h1.group Groups
      .belongs_to_group
        -@user.groups.each do |group|
          = render 'group_box', { group: group }
      
    -else
      %h1.group Friends
      




