.g
  = link_to group_messages_path(group) do
    .contents__tag_box__group_box.hvr-grow
      %ul.photo
        -group.messages.last(5).each do |message|
          %li
            = image_tag message.image, size: "360x225", alt: "image", class: "contents__tag_box__group_box__image"
        %li
          = image_tag group.image, size: "360x225", alt: "image", class: "contents__tag_box__group_box__image"
        
      .contents__tag_box__group_box__text
        %h2.contents__tag_box__group_box__text__title  ~class name~
        = link_to group_messages_path(group) do
          .contents__tag_box__group_box__text__title_name
            = group.name