-if not user_signed_in?
  .toppage
    .toppage_box
    %p.toppage__text  welcome to Petear 
.header
  =link_to "Petear", root_path, class: "header__title"
  %ul.header__right
    -if user_signed_in? 
      %li 
        = link_to "#{current_user.name}", user_path(current_user), class: 'header__right__li'
      //%li
      //  = link_to "ログアウト", destroy_user_session_path, class: 'header__right__li', method: :delete
    -else
      %li
        = link_to "ログイン", new_user_session_path, class: 'header__right__li'
      %li
        =link_to "新規登録", new_user_registration_path, class: 'header__right__li'
      
      
.main-toppage-box
  .left-content
    -unless user_signed_in?
      = link_to new_user_session_path do
        .left-content__login-ball
          %p.left-content__login-ball--text
            ログイン
      = link_to new_user_registration_path do
        .left-content__regist-ball
          %p.left-content__regist-ball--text
            新規登録
    -else
      .mypage-line
      = link_to user_path(current_user) do
        .left-content__mypage-ball
          %p.left-content__mypage-ball--text
            Mypage
  .contents
    .contents__tag
      %h2.js-animation ~友達~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @friends.each do |group|
        = render 'group_box', { group: group }
    
    .contents__tag
      %h2.js-animation ~家族~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @family.each do |group|
        = render 'group_box', { group: group }

    .contents__tag
      %h2.js-animation ~○○仲間~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @mate.each do |group|
        = render 'group_box', { group: group }

    .contents__tag
      %h2.js-animation ~同級生~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @classmate.each do |group|
        = render 'group_box', { group: group }
     
    .contents__tag
      %h2.js-animation ~高校生~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @high.each do |group|
        = render 'group_box', { group: group }
    
    .contents__tag
      %h2.js-animation ~中学生~
      %button.list-btn.js-animation 一覧 >>
    .contents__tag_box.js-animation
      - @middle.each do |group|
        = render 'group_box', { group: group }
    // .contents__tag
    //   %h2.js-animation ~少学生~
    // .contents__tag_box.js-animation
    //   - @elements.each do |group|
    //     = render 'group_box', { group: group }
    // .contents__tag
    //   %h2.js-animation ~赤ちゃん~
    // .contents__tag_box.js-animation
    //   - @babies.each do |group|
    //     = render 'group_box', { group: group }
  .right-content
    .search-line
    = link_to search_toppages_path do
      .right-content__search-ball
        %p.right-content__search-ball--text
          Search
    // %div{id: "view"}
    //   %div{id: "box"}
    //     .sprite{id: "box1"}
    //       %h3 ①
    //     .sprite{id: "box2"}
    //       %h3 ②
    //     .sprite{id: "box3"}
    //       %h3 ③
    //     .sprite{id: "box4"}
    //       %h3 ④
    //     .sprite{id: "box5"}
    //       %h3 ⑤
    //     .sprite{id: "box6"}
    //       %h3 ⑥

.toppage-footer
  Petearは、アルバムです。
  %br
  たくさんの人と好きな物を一緒に共有したり、大切な人との思い出を残したり、使い方は自由です。
  %br
  皆さんが幸せを思い出せるように、
  そしてPetearが幸せで溢れる事を願います。
