-if not user_signed_in?
  .toppage
    .toppage_box
    %p.toppage__text  welcome to Petear 
.header
  =link_to "Petear", root_path, class: "header__title"
  %ul.header__right
    -if user_signed_in? 
      %li 
        = link_to "#{current_user.name}", user_path(current_user), class: 'header__right__li'
      %li
        = link_to "ログアウト", destroy_user_session_path, class: 'header__right__li', method: :delete
    -else
      %li
        = link_to "ログイン", new_user_session_path, class: 'header__right__li'
      %li
        =link_to "新規登録", new_user_registration_path, class: 'header__right__li'
      
      

.contents
  .contents__search 
  .contents__tag
    %h2.js-animation ~動物~
  .contents__tag_box.js-animation
    - @animals.each do |group|
      = render 'group_box', { group: group }
  
  .contents__tag
    %h2.js-animation ~海~
  .contents__tag_box.js-animation
    - @sea.each do |group|
      = render 'group_box', { group: group }
    
  .contents__tag
    %h2.js-animation ~キャンプ~
  .contents__tag_box.js-animation
    - @camp.each do |group|
      = render 'group_box', { group: group }

  .contents__tag
    %h2.js-animation ~森~
  .contents__tag_box.js-animation
    - @forest.each do |group|
      = render 'group_box', { group: group }
   
  .contents__tag
    %h2.js-animation ~食べ物~
  .contents__tag_box.js-animation
    - @foods.each do |group|
      = render 'group_box', { group: group }
  
  .contents__tag
    %h2.js-animation ~Your group~
  .contents__tag_box.js-animation
    - @yours.each do |group|
      = render 'group_box', { group: group }
  