.header
  =link_to "Petear", root_path, class: "header__title"
  %ul.header__right 
    %li.header__list
      %a.header__right__li.tag タグ
    %li.header__list
      = link_to "#{current_user.name}", user_path(current_user), class: 'header__right__li'

.new-tag-box
  = form_for @u_tag do |f|
    = f.text_field :tag, placeholder: "タグ名"
    = f.hidden_field :user_id, value: current_user.id
    = f.submit 'Send'

.main-toppage-box
  .left-content
    .mypage-pendulum
      .mypage-line
      = link_to user_path(current_user) do
        .left-content__mypage-ball
          %p.left-content__mypage-ball--text
            Mypage

  
  .contents
    -@u_tags.each do |tag|
      .contents__tag
        %h2.js-animation 
          = "~ #{tag.tag} ~"
      .contents__tag_box.js-animation
        - tag.groups.each do |group|
          = render 'group_box', { group: group, u_tag_id: tag.id }

  .right-content
    .search-pendulum
      .search-line
      = link_to search_toppages_path do
        .right-content__search-ball
          %p.right-content__search-ball--text
            Search

= paginate(@u_tags)
.toppage-footer
  Petearは、アルバムです。
  %br
  たくさんの人と好きな物を一緒に共有したり、大切な人との思い出を残したり、使い方は自由です。
  %br
  皆さんが幸せを思い出せる場所になる事を願います。
